<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_Theme13HelloWorld::helloworld" title="Theme 13 Hello World" module="Perspective_Theme13HelloWorld" sortOrder="51" resource="Perspective_Theme13HelloWorld::helloworld"/>
        <add id="Perspective_Theme13HelloWorld::post" title="Manage Posts" module="Perspective_Theme13HelloWorld" sortOrder="10" action="Perspective_Theme13HelloWorld/post" resource="Perspective_Theme13HelloWorld::post" parent="Perspective_Theme13HelloWorld::helloworld"/>
        <add id="Perspective_Theme13HelloWorld::hello_configuration" title="Configuration" module="Perspective_Theme13HelloWorld" sortOrder="99" parent="Perspective_Theme13HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Perspective_Theme13HelloWorld::helloworld_configuration"/>
    </menu>
</config>